<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
 
<head>
<title><TMPL_VAR name></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<LINK REL="stylesheet" HREF="planet.css" TYPE="text/css">
</head>

<body style=" font-family: verdana">
<TABLE BORDER=0 WIDTH=100%>
<TR>
<TD style="vertical-align: top"><div class="title"> <TMPL_VAR name></div></TD>
<TD style="align: right"><IMG SRC="gnome.png"></IMG></TD>
</TR>
</TABLE>
<BR>
<TABLE BORDER=0 COLS=2 CELLSPACING=0 CELLPADDING=0>
<TR>
<TD  style="vertical-align: top; width: 25%;">

<TMPL_LOOP Items>

<TMPL_IF new_date>
<div class="date"><TMPL_VAR new_date></div>
</TMPL_IF>

<div style="color: #333333">
<a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_VAR channel_name></a><TMPL_IF title> &mdash; <a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></TMPL_IF>
</div>

</TMPL_LOOP>

<hr>
<p>
<em>Last updated: <TMPL_VAR date></em>
</p>
</TD>
<TD style="vertical-align: top; width: 25%; margin: 0">
<div id="sidebar">
<p class="section">Subscriptions</p>
<ul>
<TMPL_LOOP Channels>
<li><a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title ESCAPE="HTML">"><TMPL_VAR name></a> <a href="<TMPL_VAR url ESCAPE="HTML">">(feed)</a></li>
</TMPL_LOOP>
</ul>

<p class="section">Planetarium</p>
	<ul>
		<li><a href="http://advogato.org/recentlog.html?thresh=4">Advogato</a>
			<a href="http://advogato.org/">(main)</a></li>

		<li><a href="http://www.planetapache.org/">Apache</a></li>
		<li><a href="http://planet.arslinux.com/">Ars Linux</a></li>
		<li><a href="http://planet.debian.net/">Debian</a></li>
		<li><a href="http://fedora.linux.duke.edu/fedorapeople/">Fedora</a></li>
		<li><a href="http://planet.freedesktop.org/">freedesktop.org</a></li>
		<li><a href="http://gnome.or.kr/pgk/">GNOME Korea</a></li>

		<li><a href="http://planeta.hispalinux.es/">Hispalinux</a></li>
		<li><a href="http://www.kdedevelopers.org/blog">KDE Developers</a></li>
		<li><a href="http://kerneltrap.org/hackers/linux">Linux @ KernelTrap</a></li>
		<li><a href="http://live.linuxchix.org/">LinuxChix</a></li>
		<li><a href="http://planet.lisp.org/">Lisp</a></li>
		<li><a href="http://www.go-mono.com/monologue/">Mono</a></li>

		<li><a href="http://people.novell.com/pn/">Novell</a> (offline atm)</li>
		<li><a href="http://planet.perl.org/">Perl</a></li>
		<li><a href="http://www.planet-php.net/">PHP</a></li>
		<li><a href="http://www.mechanicalcat.net/pyblagg.html">Python</a></li>
		<li><a href="http://planet.rdfhack.com/">RDF</a></li>

		<li><a href="http://planet.slug.org.au/">SLUG</a></li>
		<li><a href="http://www.rubberturnip.org.uk/planetsuse/">SuSE</a></li>
		<li><a href="http://planet.twistedmatrix.com/">Twisted</a></li>
		<li><a href="http://xfce.org/blog/">XFce</a></li>
	</ul>
</p>

</div>

</TD>
</TR>
</TABLE>
</body>

</html>
